<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Orders List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>User Email</th>
                        <th>Items Number</th>
                        <th>Total Price</th>
                        <th>Invoice</th>
                    </tr>
                    <ng-template ngFor let-order [ngForOf]="orders">
                        <tr>
                            <td>{{order.user ? order.user.email :'' }}</td>
                            <td>{{order.cart.totalQty}}</td>
                            <td>{{order.cart.totalPrice}}</td>
                            <td>
                                <a href="javascript:;" (click)="downloadPdf(order._id)">Download Invoice</a>
                            </td>
                        </tr>
                    </ng-template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>