<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css'/>
    <link rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.css'/>
    <link rel='stylesheet' href='/stylesheets/style1.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
<%- include partials/header.ejs %>
<div class="container">
    <%- body %>
</div>
</body>
</html>
