<ng-template ngFor let-productsG [ngForOf]="products">
    <div class="row">
        <ng-template ngFor let-product [ngForOf]="productsG">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{imagesUrl}}{{product.imagePath}}&w=188" alt="...">
                    <div class="caption">
                        <h3>{{product.title}}</h3>
                        <p class="description">{{product.description}}</p>
                        <div class="clearfix">
                            <div class="price pull-left">${{product.price}}</div>
                            <a (click)="deleteProduct(product._id)" class="btn btn-danger pull-right">Delete</a>
                            <a routerLink="/products/edit/{{product._id}}" class="btn btn-success pull-right">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</ng-template>
