<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Admins List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Admin Level</th>
                        <th>Actions</th>
                    </tr>
                    <ng-template ngFor let-admin [ngForOf]="admins">
                        <tr>
                            <td>{{admin.name}}</td>
                            <td>{{admin.email}}</td>
                            <td>{{admin.createdAt}}</td>
                            <td>
                                <a *ngIf="auth.can('admins.manage')" routerLink="/admins/edit/{{admin._id}}"> Edit</a>
                            </td>
                        </tr>
                    </ng-template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>